@font-face {
    font-family: "Computer Modern";
    src: 
        url('../fonts/cmu/otf/cmunrm.otf') format("opentype"),
        url('../fonts/cmu/eot/cmunrm-webfont.eot'),
        url('../fonts/cmu/eot/cmunrm-webfont.eot?#iefix') format("embedded-opentype"),
        url('../fonts/cmu/svg/cmunrm-webfont.svg') format("svg"),
        url('../fonts/cmu/woff/cmunrm-webfont.woff') format("woff"),
        url('../fonts/cmu/ttf/cmunrm-webfont.ttf') format("truetype");
}

@font-face {
    font-family: "Computer Modern";
    src: 
        url('../fonts/cmu/otf/cmunbx.otf') format("opentype"),
        url('../fonts/cmu/eot/cmunbx-webfont.eot'),
        url('../fonts/cmu/eot/cmunbx-webfont.eot?#iefix') format("embedded-opentype"),
        url('../fonts/cmu/svg/cmunbx-webfont.svg') format("svg"),
        url('../fonts/cmu/woff/cmunbx-webfont.woff') format("woff"),
        url('../fonts/cmu/ttf/cmunbx-webfont.ttf') format("truetype");
        font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src:
        url('../fonts/cmu/otf/cmunbi.otf') format("opentype"), 
        url('../fonts/cmu/eot/cmunbi-webfont.eot'),
        url('../fonts/cmu/eot/cmunbi-webfont.eot?#iefix') format("embedded-opentype"),
        url('../fonts/cmu/svg/cmunbi-webfont.svg') format("svg"),
        url('../fonts/cmu/woff/cmunbi-webfont.woff') format("woff"),
        url('../fonts/cmu/ttf/cmunbi-webfont.ttf') format("truetype");
        font-weight: bold;
        font-style: italic;
        
}

@font-face {
    font-family: "Computer Modern";
    src: 
        url('../fonts/cmu/otf/cmunsl.otf') format("opentype"),
        url('../fonts/cmu/eot/cmunsl-webfont.eot'),
        url('../fonts/cmu/eot/cmunsl-webfont.eot?#iefix') format("embedded-opentype"),
        url('../fonts/cmu/svg/cmunsl-webfont.svg') format("svg"),
        url('../fonts/cmu/woff/cmunsl-webfont.woff') format("woff"),
        url('../fonts/cmu/ttf/cmunsl-webfont.ttf') format("truetype");
        font-style: italic;
}